@using Microsoft.AspNetCore.Authentication
@model List<Onion.MVCApp.Models.ViewModels.Employee.EmployeeViewModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <p2>Home page</p2>
        <button asp-controller="Employee" asp-action="Index" type="button">Go to Employee Page</button>
        <a asp-controller="Employee" asp-action="Index">Go to employee page</a>
    </div>
    <div class="text-center">
        <h1 class="display-4">Employee</h1>
    </div>
</body>
</html>
